src/main/webapp/WEB-INF/classes/wsdl/evaluacionTramite.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="evaluacionTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="controlData">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="messageUUID"/>
              <xs:element type="xs:dateTime" name="requestDate"/>
              <xs:element type="xs:string" name="sendBy"/>
              <xs:element type="xs:float" name="version"/>
              <xs:element type="xs:string" name="ipClient"/>
              <xs:element type="xs:string" name="ipServer"/>
              <xs:element type="xs:string" name="user"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="peticion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accesoWS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="clave"/>
                    <xs:element type="xs:string" name="usuario"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="informacionBasica">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="tipoPersona"/>
                    <xs:element type="xs:string" name="tipoLinea"/>
                    <xs:element type="xs:string" name="tipoPlan"/>
                    <xs:element type="xs:string" name="tipoPlazo"/>
                    <xs:element type="xs:string" name="tipoTramite"/>
                    <xs:element type="xs:string" name="marca"/>
                    <xs:element type="xs:string" name="fuerzaVenta"/>
                    <xs:element type="xs:string" name="proyecto"/>
                    <xs:element type="xs:string" name="formaPago"/>
                    <xs:element type="xs:string" name="modelo"/>
                    <xs:element type="xs:string" name="canalVenta"/>
                    <xs:element type="xs:string" name="mercado"/>
                    <xs:element type="xs:string" name="modalidadInves"/>
                    <xs:element type="xs:string" name="region"/>
                    <xs:element type="xs:string" name="ventaPlazos"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="solicitud">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="datosCliente">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="razonSocial"/>
                          <xs:element type="xs:string" name="nombre"/>
                          <xs:element type="xs:string" name="apellidoPaterno"/>
                          <xs:element type="xs:string" name="apellidoMaterno"/>
                          <xs:element type="xs:string" name="fechaNacimiento"/>
                          <xs:element type="xs:string" name="sexo"/>
                          <xs:element type="xs:string" name="rfc"/>
                          <xs:element type="xs:string" name="estado"/>
                          <xs:element type="xs:string" name="delegacionMunicipio"/>
                          <xs:element type="xs:string" name="calle"/>
                          <xs:element type="xs:byte" name="numExterior"/>
                          <xs:element type="xs:string" name="coloniaPoblacion"/>
                          <xs:element type="xs:string" name="ciudad"/>
                          <xs:element type="xs:short" name="codigoPostal"/>
                          <xs:element type="xs:int" name="telefonoCasa"/>
                          <xs:element type="xs:int" name="telefonoOficina"/>
                          <xs:element type="xs:int" name="telefonoReferencia"/>
                          <xs:element type="xs:string" name="nombreReferencia"/>
                          <xs:element type="xs:string" name="creditoAutomotriz"/>
                          <xs:element type="xs:string" name="creditoBancario"/>
                          <xs:element type="xs:int" name="tarjetaCredito"/>
                          <xs:element type="xs:string" name="vigenciaTarjeta"/>
                          <xs:element type="xs:string" name="claveBanco"/>
                          <xs:element type="xs:short" name="digitosTC"/>
                          <xs:element type="xs:short" name="cvv"/>
                          <xs:element type="xs:byte" name="folioSistema"/>
                          <xs:element type="xs:byte" name="idSistema"/>
                          <xs:element type="xs:string" name="userBC"/>
                          <xs:element type="xs:string" name="passBC"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="datosEquipo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="depositoInicial"/>
                          <xs:element type="xs:short" name="renta"/>
                          <xs:element type="xs:byte" name="montoServicio"/>
                          <xs:element type="xs:short" name="precioLista"/>
                          <xs:element type="xs:short" name="precioKit"/>
                          <xs:element type="xs:short" name="anticipo"/>
                          <xs:element type="xs:short" name="costoBaseEquipo"/>
                          <xs:element type="xs:byte" name="numParcialidades"/>
                          <xs:element type="xs:byte" name="sobrePrecio"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>