src/main/webapp/WEB-INF/classes/wsdl/evaluacionTramite.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="evaluacionTramite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="controlData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="messageUUID" type="xs:unsignedByte" />
              <xs:element name="requestDate" type="xs:dateTime" />
              <xs:element name="sendBy" type="xs:string" />
              <xs:element name="version" type="xs:decimal" />
              <xs:element name="ipClient" type="xs:string" />
              <xs:element name="ipServer" type="xs:string" />
              <xs:element name="user" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="peticion">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="accesoWS">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="clave" type="xs:string" />
                    <xs:element name="usuario" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="informacionBasica">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="tipoPersona" type="xs:string" />
                    <xs:element name="tipoLinea" type="xs:string" />
                    <xs:element name="tipoPlan" type="xs:string" />
                    <xs:element name="tipoPlazo" type="xs:string" />
                    <xs:element name="tipoTramite" type="xs:string" />
                    <xs:element name="marca" type="xs:string" />
                    <xs:element name="fuerzaVenta" type="xs:string" />
                    <xs:element name="proyecto" type="xs:string" />
                    <xs:element name="formaPago" type="xs:string" />
                    <xs:element name="modelo" type="xs:string" />
                    <xs:element name="canalVenta" type="xs:string" />
                    <xs:element name="mercado" type="xs:string" />
                    <xs:element name="modalidadInves" type="xs:string" />
                    <xs:element name="region" type="xs:string" />
                    <xs:element name="ventaPlazos" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="solicitud">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="datosCliente">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="razonSocial" />
                          <xs:element name="nombre" type="xs:string" />
                          <xs:element name="apellidoPaterno" type="xs:string" />
                          <xs:element name="apellidoMaterno" type="xs:string" />
                          <xs:element name="fechaNacimiento" type="xs:string" />
                          <xs:element name="sexo" type="xs:string" />
                          <xs:element name="rfc" type="xs:string" />
                          <xs:element name="estado" type="xs:string" />
                          <xs:element name="delegacionMunicipio" type="xs:string" />
                          <xs:element name="calle" type="xs:string" />
                          <xs:element name="numExterior" type="xs:unsignedByte" />
                          <xs:element name="coloniaPoblacion" type="xs:string" />
                          <xs:element name="ciudad" type="xs:string" />
                          <xs:element name="codigoPostal" type="xs:unsignedInt" />
                          <xs:element name="telefonoCasa" />
                          <xs:element name="telefonoOficina" />
                          <xs:element name="telefonoReferencia" />
                          <xs:element name="nombreReferencia" />
                          <xs:element name="creditoAutomotriz" />
                          <xs:element name="creditoBancario" />
                          <xs:element name="tarjetaCredito" />
                          <xs:element name="vigenciaTarjeta" />
                          <xs:element name="claveBanco" />
                          <xs:element name="digitosTC" />
                          <xs:element name="cvv" />
                          <xs:element name="folioSistema" type="xs:unsignedByte" />
                          <xs:element name="idSistema" type="xs:unsignedByte" />
                          <xs:element name="userBC" />
                          <xs:element name="passBC" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="datosEquipo">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="depositoInicial" />
                          <xs:element name="renta" />
                          <xs:element name="montoServicio" />
                          <xs:element name="precioLista" />
                          <xs:element name="precioKit" />
                          <xs:element name="anticipo" />
                          <xs:element name="costoBaseEquipo" />
                          <xs:element name="numParcialidades" />
                          <xs:element name="sobrePrecio" />
                          <xs:element name="gamaPlan" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>